body {
    background-image: url("./632051.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 72vh;
    color: #fff;
    text-align: center;
    margin-top: 20%;
    font-family: 'Outfit', sans-serif;
}

.container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.big-number {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 5px;
}